@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist);
  --color-primary: #f97316;
  --color-primary-dark: #ea580c;
  --color-surface: #1a1a1a;
  --color-surface-light: #2a2a2a;
  --color-surface-lighter: #3a3a3a;
  --color-border: #3a3a3a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  color: #f5f5f5;
}

input, select, textarea {
  color-scheme: dark;
}
